<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>

    <h1 align="center" >Besoin</h1>

    <div class="container-fluid">
      <div >
        <input type="text" name="term" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"
        style="width:150px" placeholder="enter some text"
        />

      </div>

      <table class="table table-bordered table-responsive">
        <thead class="thead-dark">
          <tr>
            <th class="col-xs">Date de creation</th>
            <th class="col-xs">Client</th>
            <th class="col-xs">Competence</th>
            <th class="col-xs">Contact</th>
            <th class="col-md">Tel</th>
            <th class="col-xs">Proposition</th>
            <th class="col-xs">Echeance</th>
            <th class="col-xs">Statut</th>
            <th class="col-xs">Action</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let besoin of besoins | filterbesoin:term">
            <td class="col-xs">{{besoin.d_debut}}</td>
            <td class="col-xs">{{besoin.site.clientSite.lib}}</td>
            <td class="col-xs">{{besoin.intitule}}</td>
            <td class="col-xs">{{besoin.contactClient.nom}}</td>
            <td class="col-md">{{besoin.contactClient.tel1}}</td>
            <td class="col-xs">{{besoin.site.clientSite.props.d_pro}}</td>
            <td class="col-xs">{{besoin.d_echeance}}</td>
            <td class="col-xs">{{besoin.site.clientSite.props.statut_prop.lib}}</td>
            <td class="col-xs"><button class="btn btn-primary">Edit</button></td>


          </tr>

        </tbody>
      </table>

  </div>
  </div>
</div>



