<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>

    <h1 align="center" >Liste Collaborateur</h1>

    <div class="container-fluid">

      <table class="table table-bordered table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Agence</th>
            <th scope="col">Poste</th>
            <th scope="col">Experience</th>
            <th scope="col">Tel</th>
            <th scope="col">Competence</th>
            <th scope="col">Bench</th>
            <th scope="col">Action</th>


          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let collab of collabs">
            <td>{{collab.collaborateur.nom}}</td>
            <td>{{collab.collaborateur.prenom}}</td>
            <td>{{collab.collaborateur.agence.lib}}</td>
            <td>{{collab}}</td>
            <td>{{collab.experience.lib}}</td>
            <td>{{collab}}</td>
            <td>{{collab.competence.lib}}</td>
            <td>{{collab}}</td>
            <td><button class="btn btn-primary">Edit</button></td>
          </tr>

        </tbody>
      </table>

  </div>
  </div>
</div>



