<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>

    <h1 align="center" >Liste Collaborateur</h1>

    <div class="container-fluid">

      <table class="table table-bordered table-responsive">
        <thead class="thead-dark">
          <tr>
            <th class="col">Nom</th>
            <th class="col">Prenom</th>
            <th class="col">Agence</th>
            <th class="col">Identifiant</th>
            <th class="col">Experience</th>
            <th class="col">Tel</th>
            <th class="col">Competence</th>
            <th class="col">Bench</th>
            <th class="col">Action</th>


          </tr>
        </thead>
        <tbody>

          <tr  *ngFor="let collab of collabs">
            <td class="col">{{collab.nom}}</td>
            <td class="col">{{collab.prenom}}</td>
            <td class="col">{{collab.agence.lib}}</td>
            <td class="col">{{collab.Identifiant_Dass}}</td>
            <td class="col">{{collab.listeCollaborateurCompetence[0].experience.lib}}</td>
            <td class="col">{{collab}}</td>
            <td class="col">{{collab.listeCollaborateurCompetence[0].competence.lib}}</td>
            <td class="col">{{collab.bench}}</td>
            <td class="col-"><button class="btn btn-primary">Edit</button></td>
          </tr>

        </tbody>
      </table>

  </div>
  </div>
</div>



