<div class="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div id="content">
    <nav class="navbar navbar-expand-xs navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>

    <h1 align="center" >Liste Clients</h1>

    <div class="container-fluid">

      <table class="table table-bordered table-responsive">
        <thead class="thead-dark">
          <tr>
            <th class="col-xm">Date de creation</th>
            <th class="col-xs">Client</th>
            <th class="col-xs">Competence</th>
            <th class="col-xs">Contact</th>
            <th class="col-xs">Email</th>
            <th class="col-md">Tel</th>
            <th class="col-xs">Dernier Action</th>
            <th class="col-xs">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let besoin of besoins">

            <td class="col-xs">{{besoin.d_debut}}</td>
            <td class="col-xs">{{besoin.site.clientSite.lib}}</td>
            <td class="col-xs">{{besoin.intitule}}</td>
            <td class="col-xs">{{besoin.contactClient.nom}}</td>
            <td class="col-xs">{{besoin.contactClient.email}}</td>
            <td class="col-md">{{besoin.contactClient.tel1}}</td>
            <td class="col-xs">{{besoin.d_echeance}}</td>
            <td class="col-xs"><button class="btn btn-primary">Edit</button></td>
          </tr>

        </tbody>
      </table>

  </div>
  </div>

</div>
