<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Atos logo</h3>
  </div>

  <ul class="list-unstyled components">
    <p>DashBoard Admin</p>
    <li class="active">
      <a
        href="#homeSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Home</a
      >
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Home 1</a>
        </li>
        <li>
          <a href="#">Home 2</a>
        </li>
        <li>
          <a href="#">Home 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="admin" class="nav-link" routerLink="/admin">Clients</a>
    </li>
    <li>
      <a href="/besoin" routerLink="/besoin">Besoin</a>
    </li>
    <li>
      <a href="/proposition" routerLink="/proposition">Proposition</a>
    </li>
    <li>
      <a href="/besoin" routerLink="/besoin">Demarche</a>
    </li>
    <li>
      <a href="/collaborateur" routerLink="/collaborateur">Collaborateur</a>
    </li>
  </ul>
</nav>
